<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %> 
  <%= f.email_field :email %></p>

  <p><%= f.label :password %> 
  <%= f.password_field :password %></p>

  <p><input type="hidden" id="device-token" name="device_token" value=""></p>

  <% if devise_mapping.rememberable? -%>
    <p>&nbsp&nbsp&nbsp<%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= link_to 'Forgot Password', api_users_reset_password_path(:email => "srahemtulla@gmail.com") %></p>

  <p><%= f.submit "Login", :class => "green2" %></p>
<% end %>