
<div class="friends">
	<% for friend in @current_user.allFriends %>
		<div class="friend">
			<%= form_tag "#", :id => "friend_" + friend.id.to_s do %>
				<a href="#" class="friend-item" data-friendid="<%=friend.id%>">
					<div class="test_<%= friend.id.to_s %> test"></div>
					<%= image_tag friend.profile_photo.blank? ? 
						"photos/default.jpg" : friend.profile_photo, 
						:alt => friend.displayName, 
						:class => "friend-item" %>					
					<%= image_tag "user_online.png", :alt => friend.displayName, :class => "presence online" %>
					<%= image_tag "user_offline.png", :alt => friend.displayName, :class => "presence hidden offline" %>
					<%= image_tag "user_pressed.png", :alt => friend.displayName, :class => "presence hidden pressed" %>
				</a>
			<% end %>
		</div>
	<% end %>
	
	<div class="friend">
		<p><a href="#" class="sprite" id="add-friend">
		</a></p>
	</div>
</div>