<% content_for :head do %>
	<%= javascript_include_tag 'playdate' %>
	
	<script type="text/javascript">
		var tablet;
		$(document).ready(function() {
			<% if tablet_device? %>
				tablet = true;
			<% end %>
		});

	</script>

<% end %>
<h3><%= link_to "Toybox Activities >>", activities_path %></h3>
<br>
<div class="admin">
	<div class="user-container inline-block admin-div">
		<h1>PlayTell Users (<%= @peeps.count %>)</h1> 
		<h4><%= link_to "Email list >>", users_email_list_path %></h4>
		<br>
		<% for user in @peeps %>
			<h3>[<%= user.id %>] <%= user.displayName %></h3> 
			<%= link_to 'Delete User', remove_user_path(:user_id => user.id) %>
			<p><%= user.email %></p>
			<p>Token: <%= user.device_tokens.blank? ? 'none' : user.device_tokens.first.token %></p>
			<ul>
			<% for friend in user.allFriends %>
				<li>
					<%= friend.displayName %>
					<%= link_to 'Delete Friendship', remove_friendship_path(:user_id => user.id, :friend_id => friend.id) %>
				</li>
			<% end %>
			<%= form_tag add_friendships_path, :method => 'post' do %>
			  <p>
			    <%= text_field_tag :friend_id, nil, :placeholder => 'Enter friend ID' %>
			    <%= hidden_field_tag :user_id, user.id %>
			    <%= submit_tag "Create Friendship", :name => nil %>
			  </p>	
			<% end %>
			</ul>
		<% end %>
	</div>
	<div class="early-user-container inline-block admin-div">
		<h1>Early User Signups (<%= @earlypeeps.count %>)</h1>
		<h4><%= link_to "Email list >>", earlyusers_email_list_path %></h4>
		<br>
		<p>Key: </p>
		<p>Owns iPad (0=no, 1=yes)</p>
		<p>Has kidz (0=no, 1=has kidz, 2=vid chats w/ kidz)
		<% for user in @earlypeeps %>
			<h3><%= user.username %></h3>
			<%= link_to 'Delete User', remove_earlyuser_path(:user_id => user.id) %>
			<p><%= user.email %></p>
			<p>Owns iPad: <%= user.owns_iPad %></p>
			<p>Had kidz: <%= user.has_kids %></p>
		<% end %>
	</div>
	<div class="playdates-container inline-block admin-div">
		<h1>Playdates (<%= @playdates.count %>)</h1>
		<% for playdate in @playdates %>
			<h3>#<%= playdate.id %> on <%= l playdate.created_at.in_time_zone('Pacific Time (US & Canada)'), :format => :short %></h3>
			<p>Player IDs: <%= playdate.player1_id %>, <%= playdate.player2_id %></p>
			<p>Duration: <%= playdate.duration %> min</p>
			<% if !playdate.disconnected? %>
				<p><%= link_to 'Enter Playdate', '/playdate?playdate='+playdate.id.to_s %></p>
			<% end %>
		<% end %>
	</div>

	
</div>

