<% content_for :head do %>
	<%= javascript_include_tag 'playdate' %>
	
	<script type="text/javascript">
		var tablet;
		$(document).ready(function() {
			<% if tablet_device? %>
				tablet = true;
			<% end %>
		});

	</script>

<% end %>
<div class="admin">
	<div class="user-container inline-block">
		<h1>PlayTell Users (<%= @peeps.count %>)</h1>
		<% for user in @peeps %>
			<h3>[<%= user.id %>] <%= user.displayName %></h3><p><%= user.email %></p>
			<ul>
			<% for friend in user.allFriends %>
				<li>
					<%= friend.displayName %>
					<%= link_to 'Delete Friendship', remove_friendship_path(:user_id => user.id, :friend_id => friend.id) %>
				</li>
			<% end %>
			<%= form_tag add_friendships_path, :method => 'post' do %>
			  <p>
			    <%= text_field_tag :friend_id, nil, :placeholder => 'Enter friend ID' %>
			    <%= hidden_field_tag :user_id, user.id %>
			    <%= submit_tag "Create Friendship", :name => nil %>
			  </p>	
			<% end %>
			</ul>
		<% end %>
	</div>
	<div class="early-user-container inline-block">
		<h1>Early User Signups (<%= @earlypeeps.count %>)</h1>
		<% for user in @earlypeeps %>
			<h3><%= user.username %></h3><p><%= user.email %></p>
		<% end %>
	</div>
</div>

