<div class="content">
	<%= render :partial => "friends" %>
	<p>-------------------------</p>
	<button class="blue find-playmates-link">Find Playmates</button>
</div>

<div class="lightbox hidden" id="join-lightbox">
</div>

<div class="lightbox hidden" id="find-lightbox">
	<div id="find-lightbox-text">
		<h2>Find Playmates</h2>
		<%= form_tag search_users_path, :remote => true, :method => 'get', :id => "playmate-search" do %>
		  <p>
		    <%= text_field_tag :search, params[:search] %>
		    <%= submit_tag "Search", :name => nil %>
		  </p>	
		<% end %>
		<div id="users">
			<%= render "users" %>
		</div>
	</div>
	<button class="close close-x blue">X</button>	
</div>

<script type="text/javascript">
	var t;
	
	$(document).ready(function() {
		clearTimeout(t);
		checkForPlaydateRequest();
		
		$('#join-playdate').click(function(){
			clearTimeout(t);
		});
		
		$('.find-playmates-link').click(function() {
			$('#find-lightbox').lightbox_me({
		    	centered: true,
				onLoad: function() {
					$('#find-lightbox-text').find('input[type=text]:first').focus();
				}
			});
		});

	});
	
	function checkForPlaydateRequest() {
		$.getScript("/playdate_requested.js");
		t = setTimeout("checkForPlaydateRequest()", 5000);
	}
	
	function checkForDisconnect(p) {
		$.getScript("/playdate_disconnected.js?playdate="+p);
		t = setTimeout("checkForDisconnect(p)", 1000)
	}
</script>