<div class="black height100">
	<%= render :partial => "friends" %>

	<div class="lightbox hidden" id="join-lightbox">
	</div>

	<div class="lightbox hidden" id="find-lightbox">
		<div id="find-lightbox-text">
			<h2>Find Playmates</h2>
			<%= form_tag search_users_path, :remote => true, :method => 'get', :id => "playmate-search" do %>
			  <p>
			    <%= text_field_tag :search, params[:search] %>
			    <%= submit_tag "Search", :name => nil %>
			  </p>	
			<% end %>
			<div id="users">
				<%= render "users" %>
			</div>
		</div>
		<button class="close close-x blue">X</button>	
	</div>
</div>

<script type="text/javascript">
	var p, r, d;
	
	$(document).ready(function() {
		//clearTimeout(t);
		checkForPlaydateRequest();
		
		$('#join-playdate').click(function(){
			clearTimeout(t);
		});
		
		$('.find-playmates-link').click(function() {
			$('#find-lightbox').lightbox_me({
		    	centered: true,
				onLoad: function() {
					$('#find-lightbox-text').find('input[type=text]:first').focus();
				}
			});
		});
		
		$("#add-friend").click(function() {
			$("#find-lightbox").lightbox_me();			
		});

	});
	
	function checkForPlaydateRequest() {
		//$.getScript("/playdate_requested.js");
		//t = setTimeout("checkForPlaydateRequest()", 5000);
		
		$.getJSON(
			"/playdate_requested", 		
			function(data) {
				if (data) {
					$('#join-lightbox').append("play with me!");
					$('#join-lightbox').lightbox_me({
					    centered: true, 
						destroyOnClose: true,
					});
					clearTimeout(r);
					p = data.playdate.id;
					d = setTimeout("checkForDisconnect()", 1000);
				}
				else {
					r = setTimeout("checkForPlaydateRequest()", 5000);
				}
			}
		);		
	}
	
	function checkForDisconnect() {
		//$.getScript("/playdate_disconnected.js?playdate="+p);
		//t = setTimeout("checkForDisconnect(p)", 1000)
		$.getJSON(
			"/playdate_disconnected", 
			{ playdate: p },		
			function(data) {
				if (data) {
					$('#join-lightbox').trigger('close');
					clearTimeout(d);
					r = setTimeout(checkForPlaydateRequest, 5000);
				}
				else {
					d = setTimeout("checkForDisconnect(p)", 1000)
				}
			}
		);
	}
</script>