<div class="black height100">
	<%= render :partial => "friends" %>

	<div class="lightbox hidden" id="join-lightbox">
	</div>

	<div class="lightbox hidden" id="find-lightbox">
		<div id="find-lightbox-text">
			<h2>Find Playmates</h2>
			<%= form_tag search_users_path, :remote => true, :method => 'get', :id => "playmate-search" do %>
			  <p>
			    <%= text_field_tag :search, params[:search] %>
			    <%= submit_tag "Search", :name => nil %>
			  </p>	
			<% end %>
			<div id="users">
				<%= render "users" %>
			</div>
		</div>
		<button class="close close-x blue">X</button>	
	</div>
</div>

<script type="text/javascript">
	var p, r, d;
	
	$(document).ready(function() {
		checkForPlaydateRequest();
		
		$('.find-playmates-link').click(function() {
			$('#find-lightbox').lightbox_me({
		    	centered: true,
				onLoad: function() {
					$('#find-lightbox-text').find('input[type=text]:first').focus();
				}
			});
		});
		
		$("#add-friend").click(function() {
			$("#find-lightbox").lightbox_me();			
		});

	});
	
	function checkForPlaydateRequest() {
		$.getJSON(
			"/playdate_requested", 		
			function(data) {
				if (data) {
					p = data.playdate.id;
					joinPlaydateLightbox(data);
					clearTimeout(r);
					d = setTimeout("checkForDisconnect(p)", 1000);
				}
				else {
					r = setTimeout("checkForPlaydateRequest()", 5000);
				}
			}
		);		
	}
	
	function checkForDisconnect(p) {
		$.getJSON(
			"/playdate_disconnected", 
			{ playdate: p },		
			function(data) {
				if (data) {
					$('#join-playdate').die("click");
					$('#join-lightbox').trigger('close');
					clearTimeout(d);
					r = setTimeout(checkForPlaydateRequest, 5000);
				}
				else {
					d = setTimeout("checkForDisconnect(p)", 1000)
				}
			}
		);
	}
	
	function joinPlaydateLightbox(data) {
		var requestText = '';
		requestText += '<h1>' + data.otherPlayer + '</h1><h2>wants to play!</h2><a href="/playdate"><button class="blue big-button">Join Playdate</button></a>';
		$('#join-lightbox').append(requestText);
		$('#join-lightbox').lightbox_me({
		    centered: true, 
			destroyOnClose: true,
		});	
	}

</script>