<% content_for :head do %>
	<script src="http://js.pusher.com/1.11/pusher.min.js"></script>
	<%= javascript_include_tag 'pusher', 'playdate' %>

	<script type="text/javascript">
		var tablet = false;
		var pusher;
		var playdateChannel;
		
		$(document).ready(function() {
			<% if tablet_device? %>
				tablet = true;
			<% end %>
			pusher = new Pusher($('#pusher-key').html()); 			
			checkForPlaydateRequest(); 
			enableDialpadButtons()
		});

	</script>
<% end %>
<div class="user-profile height100">
	
	<%= render :partial => "friends" %>

	<div class="lightbox hidden" id="join-lightbox">
		<h1 id="player-name"></h1>
		<h2>wants to play!</h2>
		<a href="#" id="playdate-target">
			<button class="blue big-button">Join Playdate</button>
		</a>
	</div>

	<div class="lightbox hidden" id="find-lightbox">
		<div id="find-lightbox-text">
			<h2>Find Playmates</h2>
			<%= form_tag search_users_path, :remote => true, :method => 'get', :id => "playmate-search" do %>
			  <p>
			    <%= text_field_tag :search, params[:search] %>
			    <%= submit_tag "Search", :name => nil %>
			  </p>	
			<% end %>
			<div id="users">
				<%= render "users" %>
			</div>
		</div>
		<button class="close close-x blue">X</button>	
	</div>
</div>
