<h2>My Profile</h2>
<% if @playdate %>
	<%= render :partial => "games/playdateRequest" %>
<% else %>
<h3>Friends</h3>
<ul>
	<% for friend in @user.allFriends %>
	<li>
		<%=h friend.username %> 
		<%= form_tag playdate_path do %>
			<%= hidden_field_tag 'connection_type', 'create', :id => "connection-type" %>
			<%= hidden_field_tag 'friend_id', friend.id, :id => 'friend_id' %>
			<%= submit_tag 'Start Video Playdate', :class => "default", :id => "create-playdate" %>
		<% end %>
	</li>
	<% end %>
</ul>

<h3>Add Friends</h3>
<ul>
	<% for player in @players %>
		<li>
			<%=h player.username %> <%= link_to "Add as friend", friendships_path(:friend_id => player), :method => :post %>
		</li>
	<% end %>
</ul>
<% end %>

<script>
	var t;
	
	$(document).ready(function() {
		t = setTimeout(requestPlaydate, 5000);
	});
	
	function requestPlaydate() {
		$.getScript("/playdate_request.js")
		t = setTimeout(requestPlaydate, 5000);
	}
</script>