<% content_for :head do %>

	<script src="http://js.pusher.com/1.11/pusher.min.js"></script>
	<%= javascript_include_tag 'pusher', 'playdate' %>

	<script type="text/javascript">
		var tablet = false;
		var pusher;
		var playdateChannel;
		
		$(document).ready(function() {
			<% if tablet_device? %>
				tablet = true;
				document.body.addEventListener('touchmove', function(e){ e.preventDefault(); });
			<% end %>
			pusher = new Pusher($('#pusher-key').html()); 			
			checkForPlaydateRequest(); 
			enableDialpadButtons();
			enableButtons();

			/*$('#password-submit').click(function() {
				$.ajax({
					url: "/api/change_password", 
					dataType: 'json',
					data: {
						user: {
							password: $('#password').val(), 
					  		password_confirmation: $('#password_confirmation').val() 
						},
						authorization_token: "NF9pqmqzmfwhfqo6jLas"
					},		
					success: function(data) {
						console.log(data.message);
						alert("yay");
					},
					error: function(request, status, error) {
						console.log(request.responseText["message"]);
					}
				});
			});	*/

		});
		

	</script>
<% end %>
<div class="user-profile">
	
	<div class="clouds"></div>
	
	<div class="dialpad">
		
		<div class="dialpad-header">
			<div><%= image_tag "dialpad_logo.png" %></div>
			<div class="dialpad-ribbon">
				<div class='ribbon ribbon-left'></div>
				<div class="ribbon ribbon-middle body-text">Who will play today?&nbsp</div>
				<div class='ribbon ribbon-right'></div>
			</div>
		</div>
		
		<%= render :partial => "friends" %>
		
		<% #New Password: <input type="password" id="password"></input><br /> %>
		<% #Confirm Password: <input type="password" id="password_confirmation"></input><br /> %>
		<% #<button class="blue big-button" id="password-submit">Change It!</button> %>
		
	</div>
	
	<div class="my-profile">
		<%= image_tag current_user.profile_photo.blank? ? "photos/default.jpg" : current_user.profile_photo, 
				:class => "small-user" %>
		<div class="small-user dialpadsprite" id="no-profile"></div>
	</div>
	
	<% if false %><%= render :partial => "games/toybox" %><% end %>
	<div class="overlay hidden"></div>

	<div class="lightbox hidden" id="find-lightbox">
		<div id="find-lightbox-text">
			<h2>Find Playmates</h2>
			<%= form_tag search_users_path, :remote => true, :method => 'get', :id => "playmate-search" do %>
			  <p>
			    <%= text_field_tag :search, params[:search] %>
			    <%= submit_tag "Search", :name => nil %>
			  </p>	
			<% end %>
			<div id="users">
				<%= render "users" %>
			</div>
		</div>
		<button class="close close-x blue">X</button>	
	</div>
</div>
