<h2>My Profile</h2>
<h3>Friends</h3>
<ul>
	<% for friend in @user.allFriends %>
	<li>
		<%=h friend.username %> 
		<%= form_tag playdate_path do %>
			<%= hidden_field_tag 'connection_type', 'create', :id => "connection-type" %>
			<%= hidden_field_tag 'friend_id', friend.id, :id => 'friend_id' %>
			<%= submit_tag 'Start Video Playdate', :class => "default", :id => "create-playdate" %>
		<% end %>
	</li>
	<% end %>
</ul>

<h3>Add Friends</h3>
<ul>
	<% for player in @players %>
		<li>
			<%=h player.username %> <%= link_to "Add as friend", friendships_path(:friend_id => player), :method => :post %>
		</li>
	<% end %>
</ul>

<script>
	var t;
	
	$(document).ready(function() {
		checkForPlaydateRequest();
	});
	
	function checkForPlaydateRequest() {
		$.getScript("/playdate_requested.js");
		t = setTimeout(checkForPlaydateRequest, 5000);
	}
	
	function checkForDisconnect() {
		$.getScript("/playdate_disconnected.js");
		t = setTimeout(checkForDisconnect, 1000)
	}
</script>