<% content_for :head do %>
	
	<script type="text/javascript">
		
		$(document).ready(function() { 			
			checkForPlaydateRequest(); 
			enableDialpadButtons();
			enableButtons();
		});
		
	</script>
	
<% end %>

<div class="mainContainer">

	<div class="chat-content row">
		<div class="cam-container">
			<div class="playmate-cam-container inline-block cam"></div>		
			<div class="my-cam-container inline-block cam">
				<%= image_tag current_user.profile_photo %>
				<div class="friend-name"><%= current_user.displayName %></div>					
			</div>
		</div>
	</div>
	
	<div class="user-profile">
				
		<div class="clouds"></div>
	
		<div class="dialpad">
			<div class="dialpad-header">
				<p>Who will play today?&nbsp</p>
			</div>		
			<%= render :partial => "friends" %>
		</div>
	
		<div class="dialpad-logo-container"><%= image_tag "dialpad_logo.png" %></div>
	
		<div class="overlay hidden"></div>

		<div class="lightbox hidden" id="find-lightbox">
			<div id="find-lightbox-text">
				<h2>Find Playmates</h2>
				<%= form_tag search_users_path, :remote => true, :method => 'get', :id => "playmate-search" do %>
				  <p>
				    <%= text_field_tag :search, params[:search] %>
				    <%= submit_tag "Search", :name => nil %>
				  </p>	
				<% end %>
				<div id="users">
					<%= render "users" %>
				</div>
			</div>
			<button class="close close-x blue">X</button>	
		</div>
		
	</div>

</div>
