<%= image_tag "playtell_logo.png", :alt => "PlayTell" %>

<div class="block change-password-box">
	<% if resource.errors.blank? %>
		<p class="password-instructions">Please enter a new password for your PlayTell account.</p>
	<% else %>
	    <% resource.errors.each do |key, msg| %>
	      <p class="password-instructions password-error"><%= msg %></p>
	    <% end %>
	<% end %>
	
	<hr>

	<div class="block password-form">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	
	   <%= f.hidden_field :reset_password_token %>

		 <p><%= f.label :password, "New Password" %></p>
		 <p><%= f.password_field :password %></p>

		 <p><%= f.label :password_confirmation, "Re-enter New Password" %></p>
		 <p><%= f.password_field :password_confirmation %></p>

		 <p class="submit-button center"><%= f.submit "Change Password", :class => "blue big-button" %></p>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	
	$(document).ready(function() { 			
		
	});
	
</script>