<div class="block change-password-box">
	<p class="password-instructions">Please enter a new password for your PlayTell account.</p>
	<hr>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>

	  <p><%= f.label :password, "New Password" %></p>
	  <p><%= f.password_field :password %></p>

	  <p><%= f.label :password_confirmation, "Re-enter New Password" %></p>
	  <p><%= f.password_field :password_confirmation %></p>

	  <p class="submit-button"><%= f.submit "Change Password", :class => "blue big-button" %></p>
	<% end %>
</div>