<% @book.pages.each do |page| %>
<div id= "<%= "page_"+page.page_num.to_s %>" class="hidden">
	<div class="book-image">
		<%= image_tag getPageImageFilePath(@book.title, page.page_num.to_s) %>
	</div>
	<div class="book-text brown-color">
		<%= simple_format (page.page_text) %> 
	</div>
</div>
<% end %>

<div class="book-nav">
 	<%= form_tag update_page_path, :remote => true, :id => 'turn-page' do %>
		<%= hidden_field_tag 'title', @book.title %>
		<%= hidden_field_tag 'newPage', 0, :id => "new-page" %>
		<%= hidden_field_tag 'direction', 'next', :id => "page-direction" %>
		<%= submit_tag 'Previous', :class => "blue", :id => 'prev-page' %>
		<span class="page-num-text brown-color">Page <span id="page-num"><%= @playdate.page_num %></span></span> 
		<span class="hidden" id="total-pages"><%= @book.pages.count %></span>
		<%= submit_tag 'Next', :class => "blue", :id => "next-page" %>
	<% end %>

</div>