<% for book in @books %>
	<div class="library-item">
		<%= form_tag update_page_path, :remote => true, :id => "change_activity" do %>
			<%= image_submit_tag getPageImageFilePath(book.image_directory, 0), :alt => book.title %>
			<%= hidden_field_tag :book, book.id %>
			<%= hidden_field_tag 'playdateChange', Playdate::CHANGE_BOOK %>
		<% end %>
	</div>	
<% end %>

<div class="library-item">
	<%= form_tag update_page_path, :remote => true, :id => "change_activity" do %>
		<%= image_submit_tag getImageFilePath("youtube.png") %>
		<%= hidden_field_tag 'playdateChange', Playdate::CHANGE_VIDEO %>
	<% end %>
</div>

<% if false #commenting out the next two items %> 
	<div class="library-item">
		<%= form_tag update_page_path, :remote => true, :id => "change_activity" do %>
			<%= image_submit_tag getImageFilePath("ispy.png") %>
			<%= hidden_field_tag 'playdateChange', Playdate::CHANGE_GAME %>
		<% end %>
	</div>

	<% if @current_user.username == "semira" %>
		<div class="library-item">
			<%= form_tag update_page_path, :remote => true, :id => "change_activity" do %>
				<%= image_submit_tag getImageFilePath("pitch.png") %>
				<%= hidden_field_tag 'playdateChange', Playdate::CHANGE_SLIDE %>
			<% end %>
		</div>	
	<% end %>
<% end #end commented out items %>

<div class="library-item">
	<%= form_tag update_page_path, :remote => true, :id => "change_activity" do %>
		<%= image_submit_tag "photo_album.png" %>
		<%= hidden_field_tag 'playdateChange', Playdate::CHANGE_KEEPSAKE %>
	<% end %>
</div>

