<% @books.each_with_index do |book, index| %>
	<div class="content-item book <%= index % 2 != 0 ? "odd" : "even" %>" data-playdatechange="<%= Playdate::CHANGE_BOOK %>" data-activityid="<%= book.id %>">
		<%= image_tag getPageImageFilePath(book.image_directory, -1), :alt => book.activity.title %>
		<div class="content-item-info">
			<p class="title"><%= book.activity.title %></p>
			<p class="page-count-icon"></p><p class="page-count"><%= book.pages.count %></p>
		</div>
	</div>	
<% end %>

<% if false %>
<div class="content-item" data-playdatechange="<%= Playdate::CHANGE_KEEPSAKE %>">
	<%= image_tag "photo_album.png" %>
</div>
<% end %>

