<% content_for :head do %>
	<%= javascript_include_tag 'pageflip', 'swipe.min', 'jquery.ui.touch-punch.min', 'activity/PTActivity', 'activity/PTBook' %>	
	
	<script type="text/javascript">
		
		var mySwipe;  
		
		$(document).ready(function() { 			
			
		}); 
			
	</script>
<% end %>
	
	<div id="playdateContainer">
		
		<div class="chat-content row">
			<!--<div class="camera-control">
				<p><a href="#" id="camera-link" class="sprite"></a></p>
			</div>-->
			<div class="cam-container">
				<div class="playmate-cam-container inline-block cam"></div>		
				<div class="my-cam-container inline-block cam">
					<%= image_tag current_user.profile_photo %>
				</div>
			</div>
		</div>
		
		<div class="activity-content row">
			
			<div class="loading hidden"></div>
			<div class="instructions hidden"></div>
			
			<div class="book-nav hidden">
				<%= render :partial => "games/bookNav" %>
			</div>
			
			<div class="book-container hidden">	
				<div id="book">
					<%= render :partial => "games/books", :locals => {:books => @books} %>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
		<%= render :partial => "games/toybox" %>
		
		<div class="clear"></div>
		<div class="invisible" id="finger">
			<%= image_tag "grandma_finger.png" %>
		</div>
	</div>
	
	<div id="feedback-lightbox" class="lightbox hidden">
		<%= image_tag "mad_scientist.gif", :class => "fl lightbox-scientist-img" %>
		<div class="lightbox-content">
			<div id="thank-you" class="hidden">
				<h2>You're the best!!</h2>
				<h3>Thanks for helping us make PlayTell better for you.</h3>
				<p>
					<span class="loading"></span> Ending Playdate...
				</p>
			</div>
			<div id="feedback-lightbox-text">
				<h2>Did you enjoy your playdate?</h2>	
				<%= render :partial => "feedback/form", :locals => {:feedback => @feedback} %>
			</div>
		</div>
		<button class="close close-x blue">X</button>
	</div>
