	<%= form_tag playdate_path do %>
		<%= hidden_field_tag 'connection_type', 'create', :id => "connection-type" %>
		<div class="inline fl">
			<%= submit_tag 'Start a Video Playdate', :class => "default jumbo-button", :id => "create-playdate" %>
		</div> 
		<div class="inline">
			<p> or <%= select_tag 'fellowPlayer', options_from_collection_for_select(fellowPlayers, 'id', 'username')%></p>
			<p><%= submit_tag 'Join a Video Playdate', :class => "default big-button", :id => "join-playdate", :disabled => true %></p>
		</div>
	<% end %>
	<%= button_to 'End All Playdates', clear_playdate_path, :remote => true, :id => 'end-playdate' %>
	

<script type="text/javascript">
$(document).ready(function() {
	if ('<%= playdateExists %>') {
		hideButton('create-playdate');
		showButton('join-playdate');
	}
	
	$('#end-playdate').click(function() {
		hideButton('join-playdate');
		showButton('create-playdate');
	});
	
	// write out whether the button clicked is create or join to go into params
	$('#create-playdate').click(function() {
		$('#connection-type').val("create");
	});

	$('#join-playdate').click(function() {
		$('#connection-type').val("join");
	});
});
</script>