<% content_for :head do %>
<%= javascript_include_tag 'playdate', 'video' %>
<script src="http://staging.tokbox.com/v0.91/js/TB.min.js" type="text/javascript" charset="utf-8"></script> 
<script type="text/javascript">
    var sessionId = "<%= @playdate.video_session_id %>"; 
    var token = "<%= @tok_token %>"; 
	var apiKey = "<%= @api_key %>";
	var session;
	var publisher;

	var PUBLISHER_WIDTH = 215;
	var PUBLISHER_HEIGHT = 138;
			
	var SUBSCRIBER_WIDTH = 450;
	var SUBSCRIBER_HEIGHT = 390;

	var subscribers = {};
	var deviceManager;
	
	var inSetup = true;
			
	$(document).ready(function() {
		// writes out the page direction so it can be used later.
		// upon success, signals the other player in the playdate to ping the server for the latest view of the book	
		// load setup lightbox
		$('#setup-lightbox').lightbox_me({
		    centered: true, 
		});
		
		//load image for setup lightbox
		$(function () {
		  var img = new Image();
		  $(img)
		    .load(function () {
		      $(this).hide();

		      $('#loader')
		        .removeClass('loading')
		        .append(this);

		      $(this).fadeIn();
		    })

		    .error(function () {
		      // notify the user that the image could not be loaded
		    })

		    .attr('src', '/images/flashbox.png')
		    .attr('alt', 'Click Allow if you see the Flash settings box.');
		});
		
		// book setup and display	
		showBook("<%= @book.title %>", "<%= @playdate.page_num %>", "<%= @book.pages.count %>"); // TODO: change currentPage param to "<%= @playdate.page_num %>"; once pages left: location is reset
		
		// opentok video session setup and display
		
		// Un-comment either of the following to set automatic logging and exception handling.
		// See the exceptionHandler() method below.
		// TB.setLogLevel(TB.DEBUG);
		// TB.addEventListener("exception", exceptionHandler);

		if (TB.checkSystemRequirements() != TB.HAS_REQUIREMENTS) {
			alert('You do not have the minimum system requirements to use this service :(');
		} else {
			session = TB.initSession(sessionId);	// Initialize session
			// Add event listeners to the session
			session.addEventListener('sessionConnected', sessionConnectedHandler);
			session.addEventListener('sessionDisconnected', sessionDisconnectedHandler);
			session.addEventListener('connectionCreated', connectionCreatedHandler);
			session.addEventListener('connectionDestroyed', connectionDestroyedHandler);
			session.addEventListener('streamCreated', streamCreatedHandler);
			session.addEventListener('streamDestroyed', streamDestroyedHandler);
			session.addEventListener('signalReceived', signalReceivedHandler);

			connect();
		}
		
		$('#turn-page')
			.bind('ajax:beforeSend', function() {
				updatePage($('#page-direction').val());
			})
			.bind('ajax:success', function() {
				//if (subscribers.length > 0) {
					if (session) {
						session.signal();
					}
				//}
			});					

		//writes out the page direction and new page number to be used later
		$('#next-page').click(function() {
			$('#page-direction').val("next");
			$('#new-page').val(getNewPage(getCurrentPage(), "next"));
		});

		$("#prev-page").click(function() {
			$('#page-direction').val("previous");
			$('#new-page').val(getNewPage(getCurrentPage(), "previous"));
		});
		
		$("#first-page").click(function() {
			$('#page-direction').val("beginning");
			$('#new-page').val(1);
		});
		
		$("#select-book").click(function() {
		});				
		
		$('.library-link').click(function() {
			$('#library-lightbox').lightbox_me({
			    centered: true, 
			});					
		})
		
		$('#connect-link').click(function() {
			connect();
		});
		
		$('#disconnect-link').click(function() {
			disconnect(); //tokbox
			$.get("<%= disconnect_playdate_path %>"); // ragatzi playdate
			// every 3rd playdate, prompt for feedback:
			$('#feedback-lightbox').lightbox_me({
			    centered: true, 
				onClose: function () {
					document.location.href='<%= user_path @current_user %>';
				}
			});
		});
		
		$('#fullscreen').click(function() {
			maxWindow();
		});				
	});
			
</script>
<% end %>
	
	<div id="setup-lightbox" class="lightbox hidden">
		<h1>One quick thing - </h1>
		<div>
			<h4>If you see this box, click "Allow." This gives Ragatzi permission to use your camera.</h4>
			<div id="loader" class="loading"></div>
			<p>In the future, you'll be able to say "don't show me this again." But not yet, sorry!</p>
			<button class="button-bottom blue close">Close Window</button>
		</div>
		<button class="close close-x blue">X</button>
	</div>
	
	<div id="videos">
		<div class="activity-content">
			<div class="pages"><%= render :partial => "book" %></div>
			<div class="book-nav"><%= render :partial => "bookNav", :locals => {:book => @book} %></div>
			<div class="clear"></div>
		</div>
		<div class="video-content">
			<div id="fam-camera-holder"></div>
			<div id="my-camera-holder">
				<div id="links">
					<ul>
						<li class="hidden"><%= link_to '#' do %>
							<button id="connect-link" class="blue">Connect</button>
						<% end %></li>
						<li><button class="red" id="disconnect-link">End Playdate</button></li>
						<li><button class="blue library-link">Read Something Different</button></li>
					</ul>
				</div>
				<div id="my-camera" class="loading"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>	
	</div>
	
	<div id="feedback-lightbox" class="lightbox hidden">
		<%= image_tag "mad_scientist.gif", :class => "fl lightbox-scientist-img" %>
		<div class="lightbox-content">
			<div id="thank-you" class="hidden">
				<h2>You're the best!!</h2>
				<h3>Thanks for helping us make Ragatzi better for you.</h3>
				<p>
					<span class="loading"></span> Ending Playdate...
				</p>
			</div>
			<div id="feedback-lightbox-text">
				<h2>Did you enjoy your playdate?</h2>	
				<%= render :partial => "feedback/form", :locals => {:feedback => @feedback} %>
			</div>
		</div>
		<button class="close close-x blue">X</button>
	</div>

	<div id="library-lightbox" class="lightbox hidden">
		<div id="library-lightbox-text">
			<h2>Whatcha wanna read?</h2>	
			<%= render :partial => "library", :locals => {:books => @books} %>
		</div>
		<button class="close close-x blue">X</button>
	</div>

