<% content_for :head do %>
	<script src="http://js.pusher.com/1.11/pusher.min.js"></script>
	<%= javascript_include_tag 'playdate', 'pageflip', 'pusher', 'swipe.min', 'video', 'jquery.ui.touch-punch.min' %>

	<% if false %>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
	<% end %>
	
	<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
	<%= javascript_include_tag "http://static.twilio.com/libs/twiliojs/1.0/twilio.min.js" %>
	
	
<script type="text/javascript">
	
	var tablet = false;
	
	var pusher;
	var playdateChannel;
	
	var mySwipe;
	
	//tokbox
	var apiKey = '<%= @api_key %>';
	var sessionId = '<%= @playdate.video_session_id %>';
	var token = '<%= @tok_token1 %>';
			
	var session = TB.initSession(sessionId);  
	var publisher;   
	
	
	$(document).ready(function() {		
		<% if tablet_device? %>
			tablet = true;
			document.body.addEventListener('touchmove', function(e){ e.preventDefault(); });
		<% end %>
		initPlaydate();
		//preventUglyScroll('.appContainer');
	});
			
</script>
<% end %>
	
	<div id="playdate-container">
		
		<div class="chat-content row">
			<!--<div class="camera-control">
				<p><a href="#" id="camera-link" class="sprite"></a></p>
			</div>-->
			<div class="photo-reel-container">
				<div class="photo-pair">
				</div>
				<div class="photo-reel-temp-text">
					<p><%= @current_user.username %> & <%= @playdate.getOtherPlayerName(@current_user) %>
				</div>
			</div>
		</div>
		
		<div class="activity-content row">
			
			<div class="loading hidden"></div>
			<div class="instructions hidden"></div>
			
			<div class="book-nav hidden">
				<%= render :partial => "bookNav" %>
			</div>
			
			<div class="book-container hidden">	
				<div id="book">
					<div id='pages'></div>
				</div>
			</div>
			
			<div id="keepsake-container" class="hidden"></div>
			
			<div id="camera-container" class="hidden"></div>
			<div class="clear"></div>
		</div>
		
		<%= render :partial => "toybox", :locals => {:playdate => @playdate, :books => @books} %>

		<div class="clear"></div>
		<div class="hidden" id="finger">***</div>
	</div>
	
	<div id="feedback-lightbox" class="lightbox hidden">
		<%= image_tag "mad_scientist.gif", :class => "fl lightbox-scientist-img" %>
		<div class="lightbox-content">
			<div id="thank-you" class="hidden">
				<h2>You're the best!!</h2>
				<h3>Thanks for helping us make PlayTell better for you.</h3>
				<p>
					<span class="loading"></span> Ending Playdate...
				</p>
			</div>
			<div id="feedback-lightbox-text">
				<h2>Did you enjoy your playdate?</h2>	
				<%= render :partial => "feedback/form", :locals => {:feedback => @feedback} %>
				<% if false %><%= render :partial => "photoform", :locals => {:photo => @photo} %><% end %>
			</div>
		</div>
		<button class="close close-x blue">X</button>
	</div>
