<% content_for :head do %>
	<script src="http://js.pusher.com/1.11/pusher.min.js"></script>
	<%= javascript_include_tag 'playdate', 'pageflip', 'pusher', 'swipe.min' %>

	<% if tablet_device? %>
		<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
	<% end %>
	
<script type="text/javascript">
	
	var KEEPSAKE_WIDTH = 242;
	var KEEPSAKE_HEIGHT = 180;
		
	var num_keepsakes = 0;	
	
	var tablet = false;
	
	var pusher;
	var playdateChannel;
	
	var mySwipe;
			
	$(document).ready(function() {		
		<% if tablet_device? %>
			tablet = true;
		<% end %>
		initPlaydate();
	});
	
	function endPlaydate() {
		pusher.unsubscribe("<%= @playdate.pusher_channel_name %>"); //disconnect on pusher
		$.get("<%= disconnect_playdate_path %>"); //disconnect on playtell 
		// prompt for feedback:
		$('#feedback-lightbox').lightbox_me({
		    centered: true, 
			closeClick: false,
			onClose: function () {
				document.location.href='<%= user_path @current_user %>';
			}
		});
	}
			
</script>
<% end %>
	
	<div id="playdate-container">
		<div class="video-content row">
			<div class="snapshot-controls inline-block left-button">
				<p><a href="#" id="snapshot-link" title="Say Cheese! Take a photo"></a></p>
			</div>
			<div class="chat-window-container inline-block">
				<div id="fam-camera-holder" class="inline-block"></div>
				<div id="my-camera" class="inline-block"></div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="activity-content row">
			<div class="loading hidden"></div>
			<div class="book-nav hidden">
				<%= render :partial => "bookNav" %>
			</div>
			<div class="book-container hidden">	
				<div id="book">
					<div id='pages'></div>
				</div>
			</div>
			<div id="keepsake-container" class="hidden"></div>
			<div class="clear"></div>
		</div>
		<div id="toybox-drawer" class="row">
			<div id="links">
				<p><a href="#" id="toybox-link" title="Toy Box"></a></p>
			</div>
			<div id="shelf">
				<div class="items">	
					<%= render :partial => "library", :locals => {:books => @books} %>
				</div>				
				<div class="playdate-controls">
					<div class="right-button"><p><a href="#" id="disconnect-link">End Playdate</a></p></div>
					<div class="left-button"><p><a href="#" id="volume-link">Adjust Volume</a></p></div>
				</div>
				<div class="shelf_bg shelf_left_bg inline-block"></div>
				<div class="shelf_bg shelf_mid_bg inline-block"></div>
				<div class="shelf_bg shelf_right_bg inline-block"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="hidden" id="finger">***</div>
	</div>
	
	<div id="feedback-lightbox" class="lightbox hidden">
		<%= image_tag "mad_scientist.gif", :class => "fl lightbox-scientist-img" %>
		<div class="lightbox-content">
			<div id="thank-you" class="hidden">
				<h2>You're the best!!</h2>
				<h3>Thanks for helping us make PlayTell better for you.</h3>
				<p>
					<span class="loading"></span> Ending Playdate...
				</p>
			</div>
			<div id="feedback-lightbox-text">
				<h2>Did you enjoy your playdate?</h2>	
				<%= render :partial => "feedback/form", :locals => {:feedback => @feedback} %>
			</div>
		</div>
		<button class="close close-x blue">X</button>
	</div>
