<%= form_for @activity do |f| %>
	<% if @activity.errors.any? %>
		<div class="error-messages">
			<h2>Wait! There's a problem</h2>
			<ul>
				<% for message in @activity.errors.full_messsages do %>
					<li><%= message %></li>
				<% end %>
			</ul>	
		</div>
	<% end %>
	<p>
	<%= f.label 'Book Title' %>
	<%= f.text_field :title, :required => true %>
	</p>
	
	<%= fields_for 'activity[book_attributes]', @activity.book do |book_form| %>
		<p>
		<%= book_form.label 'Name of S3 image directory' %>
		<%= book_form.text_field :image_directory, :required => true %>
		</p>	
		<p>
		<%= book_form.label 'Number of Pages' %> : <%= @activity.book.pages.count %> 
		<%= select_tag 'activity[book_attributes][num_pages]',  options_for_select([ 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25 ], @activity.book.pages.count) %>
		</p>
		<p>
		<%= book_form.label 'Image-only? (i.e. text is baked into the images)' %>
		<%= book_form.radio_button :image_only, '1' %>Yes <%= book_form.radio_button :image_only, '0' %>No
		</p>
	<% end %>
	
	<p>
	<%= f.label 'Publish to Toybox?' %>
	<%= f.radio_button :publish, '1' %>Yes <%= f.radio_button :publish, '0' %>No
	</p>
	
	<% if !@activity.book.image_only? %>
		<h3>Page Text</h3>
		<%= render :partial => 'pages/page', :collection => @activity.book.pages %>
	<% else %>
		<%= render :partial => 'pages/pageimage', :collection => @activity.book.pages, :locals => {:book => @activity.book} %>
	<% end %>
	
	<%= hidden_field :activity_type, :value => 'book' %>
	
	<%= submit_tag "Save Book", :class => "big-button blue" %>	
<% end %>