
<%= form_for @activity do |f| %>
	<% if @activity.errors.any? %>
		<div class="error-messages">
			<h2>Wait! There's a problem</h2>
			<ul>
				<% for message in @activity.errors.full_messsages do %>
					<li><%= message %></li>
				<% end %>
			</ul>	
		</div>
	<% end %>
	<p>
	<%= f.label 'Activity Title' %>
	<%= f.text_field :title, :required => true %>
	</p>
	<%= submit_tag "Save Activity", :class => "big-button blue" %>	
<% end %>