<% content_for :head do %>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,400|Quicksand:300,400' rel='stylesheet' type='text/css'>	

	<script type="text/javascript">
	  $(document).ready(function() {

	    //Default
	    $("#jump").click(function (event) {	
			$(".mainContainer").animate(
				{ scrollTop: 100 }, "slow", "easeOutBack" );
			event.preventDefault();
			return false;
		});
	  });
	 </script>
	
<% end %>

<div class="nav">
	<a href="#"><%= image_tag 'logo.png' %></a>
	<ul>
		<li><a href="#">Product</a></li>
		<li><a href="#">Team</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#"><button>Request Invitation</button></a></li>
	</ul>
</div>
<div class="landing-page" id="landingpage">
	<div id="block-splash">
		<%= image_tag 'splash_ipad.png' %>
	</div>
	<div id="block-product">
	</div>
	<div id="block-team">
	</div>
	<div id="block-sign-up">
		<div class="alpha-sign-up" id="sign-up">
			<%= form_for @earlyUser, :url => early_access_path, :remote => true do |f| %>
			<h3>Request an Invitation</h3>	
				<%= f.email_field :email %><br />
				<%= submit_tag "Sign me up!", :class => "blue big-button", :id => "early-access-submit" %>
				<div id="loader" class="hidden loading"></div>
			<% end %>
			<div id="thank-you" class="hidden">
				<p>Thanks! You're on the list.</p>
				<p>We'll be in touch soon.</p> 
			</div>
		</div>
	</div>
</div>

