<%= form_for @feedback, :remote => true do |f| %>
	<% if @feedback.errors.any? %>
		<div class="error-messages">
			<h2>Oops! There's a problem</h2>
			<ul>
				<% for message in @feedback.errors.full_messsages do %>
					<li><%= message %></li>
				<% end %>
			</ul>	
		</div>
	<% end %>
	
	<%= f.hidden_field :user_id, :value => @current_user.id %>
	<%= f.hidden_field :playdate_id, :value => @playdate.id %>
	
	<p class="radio-label">
	<%= f.radio_button :rating, Feedback::YES %><%= f.label :yes, "Yep!" %>
	
	<%= f.radio_button :rating, Feedback::SORTA %><%= f.label :sorta, "Sorta" %>
	
	<%= f.radio_button :rating, Feedback::NO %><%= f.label :no, "Not really" %>
	</p>
	<p> <%= f.label :comment, "What can we do to make your playdates even better?" %></p>
	<p><%= f.text_area :comment, :size => "40x4" %></p>	
	<%= submit_tag "Send to Ragatzi", :class => "blue button-bottom" %>
	
<% end %>